body{
	background-color: 5b2067;
	font-size: 70px;	
}
.half-button{
        background-color: 102457;
	color: d4dde4;
        width: 49%;
        height: 200;
        font-size: 50;
		
}

.third-button{
        background-color: 102457;
        color: d4dde4;
        width: 32%;
        height: 200;
        font-size: 40;

}


.button{
	color: d4dde4;
	background-color: 102457;
	width: 100%;
	height: 200;
	font-size: 50;
}
.player{
	width: 100%;
	height: 250px;
}

.text{
	font-size: 50;
	text-align: center;
	color: d4dde4;
}
