body{
	background-color: red;
	
}
.half-button{
        background-color: green;
	color: blue;
        width: 49%;
        height: 200;
        font-size: 50;
		
}

.third-button{
        background-color: green;
        color: blue;
        width: 32%;
        height: 200;
        font-size: 40;

}


.button{
	color: blue;
	background-color: green;
	width: 100%;
	height: 200;
	font-size: 50;
}
.player{
	width: 100%;
	height: 250px;
}

