body{
	background-color: @@BACKGROUND@@;
	
}
.half-button{
        background-color: @@BUTTON@@;
	color: @@BUTTONTEXT@@;
        width: 49%;
        height: 200;
        font-size: 50;
		
}

.third-button{
        background-color: @@BUTTON@@;
        color: @@BUTTONTEXT@@;
        width: 32%;
        height: 200;
        font-size: 40;

}


.button{
	color: @@BUTTONTEXT@@;
	background-color: @@BUTTON@@;
	width: 100%;
	height: 200;
	font-size: 50;
}
.player{
	width: 100%;
	height: 250px;
}

.text{
	font-size: 50;
	text-align: center;
	color: @@TEXT@@;
}
